.enquire-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in;
}

.enquire-popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

.enquire-popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  color: #f4a261;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.enquire-popup-logo {
  width: 100%;
  max-width: 100px; /* Adjust as needed */
  margin-bottom: 15px;
}

.enquire-popup h2 {
  margin-top: 0;
  color: #333;
}

.enquire-popup input,
.enquire-popup textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.enquire-popup button {
  background-color: #f4a261;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.enquire-popup button:hover {
  background-color: #e76f51;
}

.enquire-popup-success,
.enquire-popup-error {
  margin: 10px 0;
  font-size: 14px;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
