.location-highlights-container {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: -10px;

    background-color: #ffffff; /* Light gray background */
    text-align: center;
  }
  
  .location-highlights-heading {
    font-size: 36px;
    font-family: 'Times New Roman', serif;
    color: #8c6239; /* Gold color for heading */
    margin-bottom: 10px;
  }
  
  .location-highlights-subheading {
    font-size: 18px;
    color: #333;
    margin-bottom: 40px;
  }
  
  .location-highlights-slider {
    width: 90%;
    margin: 0 auto;
  }
  
  .location-highlight-item {
    background-color: #fff; /* White background */
    padding: 30px;
    text-align: center;
    border: 1px solid #8c6239; /* Gold color border */
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-sizing: border-box;
    height: 200px; /* Fixed height for cards */
    overflow: auto; /* Scrollbar for overflow content */
  }
  
  .location-highlight-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  }
  
  .location-highlight-icon {
    font-size: 48px;
    color: #8c6239; /* Gold color for icon */
    margin-bottom: 20px;
  }
  
  .location-highlight-title {
    font-size: 20px;
    font-weight: 600;
    color: #333; /* Darker text color */
    margin-bottom: 10px;
  }
  
  .location-highlight-distance {
    font-size: 16px;
    color: #666; /* Medium gray text color */
    margin-bottom: 10px;
  }
  
  .location-highlight-description {
    font-size: 14px;
    color: #888; /* Light gray text color */
  }
  
  .slick-dots {
    bottom: -40px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    color: #333; /* Darker arrow color */
    font-size: 24px;
  }
  
  @media (max-width: 1024px) {
    .location-highlight-item {
      width: calc(50% - 40px);
    }
  }
  
  @media (max-width: 768px) {
    .location-highlight-item {
      width: 100%;
    }
  }
  