.location-highlights-container {
  padding: 20px; /* Adjust padding for better responsiveness */
  width: 100%; /* Ensure full width */
  max-width: 1200px; /* Optional: set a max width */
  background-color: #ffffff;
  text-align: center;
  margin: 0 auto; /* Center the container */
}

.location-highlights-heading {
  font-size: 36px;
  font-family: 'Times New Roman', serif;
  color: #8c6239;
  margin-bottom: 10px;
}

.location-highlights-slider {
  width: 100%; /* Use full width */
}

.location-highlight-item {
  background-color: #fff;
  padding: 20px; /* Adjust padding */
  text-align: center;
  border: 1px solid #8c6239;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-sizing: border-box;
  height: auto; /* Change to auto height */
  overflow: hidden; /* Prevent scrollbars */
}

@media (max-width: 1024px) {
  .location-highlight-item {
      width: calc(50% - 20px); /* Adjust width for tablets */
      margin: 10px; /* Add some margin */
  }
}

@media (max-width: 768px) {
  .location-highlight-item {
      width: 100%; /* Full width for mobile */
      margin: 10px 0; /* Vertical spacing */
  }
  .location-highlights-container {
    padding: 20px; /* Adjust padding for better responsiveness */
    width: 100%; /* Ensure full width */
    max-width: 300px; /* Optional: set a max width */
    background-color: #ffffff;
    text-align: center;
    margin: 0 auto; /* Center the container */
  }
}
