.template1 .price-section {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    
    
}

.template1 .price-heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #28a745; /* Luxurious, elegant color */
    font-family: 'Playfair Display', serif; /* Luxurious serif font */
    font-weight: 700; /* Bold for emphasis */
    letter-spacing: 1.2px;
    text-transform: capitalize;
}

.template1 .price-table {
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.template1 .price-table th,
.template1 .price-table td {
    padding: 12px 20px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.template1 .price-table th {
    background-color: #27ae60;
    color: #fff;
}

.template1 .price-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.template1 .error-message {
    color: red;
    margin-bottom: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .template1 .price-table th,
    .template1 .price-table td {
        font-size: 14px;
        padding: 10px 15px;
    }

    .template1 .price-heading {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .template1 .price-table th,
    .template1 .price-table td {
        font-size: 12px;
        padding: 8px 10px;
    }

    .template1 .price-heading {
        font-size: 18px;
    }
}
