/* components/template1/components/css/Services.css */

.template1-services-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap; /* Ensures items wrap on smaller screens */
}

.template1-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100%; /* Full width on small screens */
  max-width: 400px; /* Limits the width on larger screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Adds space between cards */
}

.template1-card h3 {
  margin-top: 10px;
  font-size: 1.5em;
}

.template1-card p {
  margin-top: 10px;
  color: #555;
}

.template1-icon {
  font-size: 40px;
}

/* Specific background colors for cards */
.template1-business-strategy {
  background-color: #d8eae0;
}

.template1-local-marketing {
  background-color: #e0efff;
}

.template1-social-media {
  background-color: #fff2e6;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .template1-services-container {
    flex-direction: column; /* Stacks items vertically on mobile */
    align-items: center;
  }

  .template1-card {
    width: 90%; /* Adjusts card width on mobile */
  }
}
