.propertyContainer {
  padding: 10px 20px;
  background: linear-gradient(135deg, #cdc1ff, #a294f9);
  text-align: center;
  /* border-radius: 15px; */
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.heading {
  font-size: 28px;
  color: white;
  font-weight: 700;
  margin-bottom: 20px;
}

.highlight {
  color: #000000;
}

.detailsRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

.detailItem {
  display: flex;
  align-items: center;
  gap: 15px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  padding: 15px 20px;
  min-width: 220px;
  transition: all 0.3s ease-in-out;
}

.detailItem:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.3);
}

.icon {
  font-size: 24px;
  color: #4a3f91;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.label {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.value {
  font-size: 16px;
  color: #000000;
}

/* Responsive */
@media (max-width: 768px) {
  .detailsRow {
    flex-direction: column;
    align-items: center;
  }
  .detailItem {
    width: 100%;
    max-width: 320px;
  }
}
