.advertisementContainer {
    padding: 20px;
    /* background-color: #f9f9f9; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
  }
  
  .adSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .adImage {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover; /* Prevents stretching */
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .adImage:hover {
    transform: scale(1.05);
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); */
  }
  
  /* For smaller screens */
  @media (max-width: 600px) {
    .adImage {
      max-width: 90%; /* Adjusts to fit smaller devices */
    }
  }
  