/* ContactUs.module.css */

.contactUs {
    padding: 20px;
    background: url('../images/background.webp') no-repeat center center;
    background-size: cover;
    min-height: 70vh; /* Full height for a more dramatic effect */
}

.container {
    display: flex;
    flex-direction: row; /* Default to horizontal layout */
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8); /* Darker background for contrast */
    padding: 40px;
    border-radius: 15px; /* Slightly larger border radius */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Switch to vertical layout on smaller screens */
    }
}

.details {
    flex: 1;
    color: #fff;
    margin-right: 20px;
}

.title {
    font-size: 2.5rem; /* Larger title for emphasis */
    font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Subtle text shadow */
}

.tagline {
    font-size: 1.2rem; /* Slightly larger tagline */
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    color: #00f400;
}

.description {
    font-size: 0.8rem; /* Increase font size for better readability */
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Georgia', serif;
}

.info p {
    margin: 8px 0;
}

.form {
    flex: 1;
    background: #fff;
    padding: 30px; /* Increase padding for better spacing */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Softer shadow for a modern look */
}

.formTitle {
    font-size: 1.8rem; /* Larger form title */
    margin-bottom: 20px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.input,
.textarea {
    width: calc(100% - 20px);
    margin-bottom: 15px;
    padding: 15px; /* Increased padding for comfort */
    border: 1px solid #ddd;
    border-radius: 8px; /* More rounded corners */
    font-family: 'Arial', sans-serif;
    transition: border 0.3s ease; /* Smooth transition for focus effect */
}

.input:focus,
.textarea:focus {
    border: 1px solid #0383c5; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

.button {
    width: 100%;
    padding: 15px;
    background-color: #0383c5;
    color: #fff;
    border: none;
    border-radius: 8px; /* More rounded corners */
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:hover {
    background-color: #0275b8; /* Darker shade on hover */
}

.successMessage {
    color: green;
    margin-bottom: 10px;
    font-weight: bold; /* Emphasize success message */
}

.errorMessage {
    color: red;
    margin-bottom: 10px;
    font-weight: bold; /* Emphasize error message */
}
