.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 10px; */
  background-color: #ffffff; /* White background */
  color: #000000;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.logoContainer {
  flex: 1;
}

.logo {
  padding-left: 10px;
  max-width: 160px;
  margin-left: 30px;
  height: auto;
}

.nav {
  display: flex; /* Always show navigation on desktop */
  flex: 2; /* Allow it to take up space */
  justify-content: flex-end; /* Align items to the right */
}

.nav.open {
  display: flex; /* Keep it as flex on open */
}

.navLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px; /* Increase gap between menu items */
}

.navLinks li {
  display: inline;
}

.navLinks a {
  text-decoration: none;
  color: #333; /* Darker color for better contrast */
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s; /* Smooth transition for color */
}

.navLinks a:hover {
  color: #f4a261; /* Accent color on hover */
}

.hamburger {
  display: none; /* Hide hamburger by default */
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
  transition: transform 0.4s, opacity 0.4s;
}

.line.open:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.line.open:nth-child(2) {
  opacity: 0; /* Hide the middle line */
}

.line.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .nav {
    display: none; /* Hide navigation on mobile */
    flex-direction: column; /* Stack items vertically */
    position: absolute; /* Position absolute for dropdown effect */
    top: 60px; /* Adjust based on header height */
    right: 0;
    width: 100%; /* Full width */
    background-color: #ffffff; /* Match header background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  }

  .nav.open {
    display: flex; /* Show when open */
  }

  .navLinks {
    flex-direction: column; /* Stack links vertically */
    padding: 10px 0; /* Add some vertical padding */
    gap: 15px; /* Space between links */
  }

  .navLinks li {
    display: block; /* Make each item a block for easier clicking */
    text-align: center; /* Center align text */
  }

  .hamburger {
    display: flex; /* Show hamburger on mobile */
  }
}
