.priceSection {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.priceHeading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #28a745; /* Luxurious, elegant color */
    font-family: 'Playfair Display', serif; /* Luxurious serif font */
    font-weight: 700; /* Bold for emphasis */
    letter-spacing: 1.2px;
    text-transform: capitalize;
}
.noWrap {
    white-space: nowrap;
}
.priceTable {
    /* width: 100%; */
    border-collapse: collapse;
    margin: 0 -15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.priceTable th,
.priceTable td {
    padding: 12px 20px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.priceTable th {
    background-color: #27ae60;
    color: #fff;
}

.priceTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

.errorMessage {
    color: red;
    margin-bottom: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .priceTable th,
    .priceTable td {
        font-size: 14px;
        padding: 10px 15px;
    }

    .priceHeading {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .priceTable{
        /* width: 90%; */
        border-collapse: collapse;
        margin: 0 -10px 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .priceTable th,
    .priceTable td {
        font-size: 12px;
        padding: 8px 10px;
    }

    .priceHeading {
        font-size: 18px;
    }
}
