.template1ServicesContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap; /* Ensures items wrap on smaller screens */
  /* height: 300px; */
}

.template1Card {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  height: 150px;
  width: 100%; /* Full width on small screens */
  max-width: 400px; /* Limits the width on larger screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Adds space between cards */
}

.template1Card h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.template1Card p {
  margin-top: 10px;
  color: #555;
}

.template1Icon {
  font-size: 40px;
}

/* Specific background colors for cards */
.template1BusinessStrategy {
  background-color: #d8eae0;
}

.template1LocalMarketing {
  background-color: #e0efff;
}

.template1SocialMedia {
  background-color: #fff2e6;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .template1ServicesContainer {
    flex-direction: column; /* Stacks items vertically on mobile */
    align-items: center;
  }

  .template1Card {
    width: 90%; /* Adjusts card width on mobile */
  }
}
