.unitLayout {
  padding: 20px;
  text-align: center;
}

.unitLayoutHeading {
  font-size: 30px;
  margin-bottom: 20px;
  color: #28a745; /* Dark, elegant color */
  font-family: 'Playfair Display', serif; /* Luxurious, elegant serif font */
  font-weight: 700; /* Bold weight for emphasis */
  letter-spacing: 1.2px; /* Slightly increased letter spacing */
  text-transform: capitalize; /* Capitalize for a refined look */
}

.unitButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.unitButton {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.active {
  background-color: #007bff;
  color: white;
}

.unitButton:hover {
  background-color: #007bff;
  color: white;
  transform: scale(1.05);
}

.unitContent {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  animation: fade-in 0.5s ease-in-out;
}

.unitImage {
  width: 500px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.unitImage:hover {
  transform: scale(1.05);
}

.unitDetails {
  text-align: left;
  border: 1px solid #28a745;
  border-radius: 8px;
  padding: 15px;
  width: 80%;
  max-width: 400px;
  background-color: #ffffff;
  animation: fade-in 0.6s ease-in-out;
}

.unitDetails h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.unitDetails p {
  margin: 5px 0;
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .unitContent {
    flex-direction: column;
    gap: 20px;
  }

  .unitImage {
    width: 90%; /* Make image width responsive */
    max-width: 350px; /* Set a maximum width */
  }

  .unitDetails {
    max-width: 90%;
  }

  .unitButton {
    padding: 8px 16px;
    font-size: 14px;
  }

  .unitLayoutHeading {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .unitLayout {
    padding: 15px;
  }

  .unitLayoutHeading {
    font-size: 20px;
  }

  .unitButtons {
    flex-direction: column;
  }

  .unitButton {
    padding: 8px;
    font-size: 13px;
    width: 100%;
  }

  .unitContent {
    gap: 10px;
  }

  .unitImage {
    width: 100%;
    max-width: 500px;
  }

  .unitDetails h3 {
    font-size: 18px;
  }

  .unitDetails p {
    font-size: 14px;
  }
}
