.footer {
  background: #2b2b2b;
  color: #fff;
  padding: 2rem 1rem;
  font-family: "Arial", sans-serif;
  margin-bottom: 50px;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
  text-align: center;
}

/* Centered Row for Logo and Contact */
.footerCenterRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footerLogo {
  display: flex;
  justify-content: center;
}

.footerLogoImage {
  max-width: 150px;
  height: auto;
}

.footerContact {
  text-align: center;
}

.contactDetails,
.contactEmail {
  font-size: 1rem;
  margin: 0.2rem 0;
}

/* Bottom Section */
.footerBottom {
  text-align: justify;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 1rem;

}

.footerDisclaimer,
.footerAgentRera,
.footerCopyright {
  font-size: 0.9rem;
  /* margin: 0.3rem 0; */
  /* line-height: 1.4; */
}

/* Privacy Policy Link */
.privacyPolicy {
  font-size: 0.9rem;
  color: #ff5722;
  text-decoration: none;
  /* margin-top: 1rem; */
  display: inline-block;
}

.privacyPolicy:hover {
  text-decoration: underline;
}
