/* Hero Banner */
.heroBanner {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.videoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.heroVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text contrast */
  z-index: 1;
}



.heroContent {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.subheading {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.enquireButton {
  background-color: #ff5722;
  color: #fff;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.enquireButton:hover {
  background-color: #e64a19;
  transform: scale(1.1);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .heroBanner {
    height: 45vh; /* Allow height to adjust based on content */
  }

  .heroContent {
    padding: 0 1rem;
  }

  .heading {
    font-size: 1.8rem; /* Smaller font size for mobile */
    margin-bottom: 0.8rem;
  }

  .subheading {
    font-size: 1rem; /* Adjust subheading font size */
    margin-bottom: 1.5rem;
  }

  .enquireButton {
    padding: 0.6rem 1.5rem; /* Smaller button padding */
    font-size: 0.9rem; /* Adjust button font size */
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 1.5rem; /* Even smaller font size for extra small devices */
  }

  .subheading {
    font-size: 0.9rem; /* Adjust subheading font size for extra small devices */
  }

  .enquireButton {
    padding: 0.5rem 1.2rem; /* Adjust button padding further */
    font-size: 0.8rem; /* Smaller font size for button */
  }
}
