@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@400;500;700&display=swap");

/* Container */
.servicesContainer {
  padding: 20px 5%;
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.heroBanner {
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  color: #e3f954;
  margin-bottom: 10px;
}

.subheading {
  font-size: 1.2rem;
  color: #ddd;
  margin-bottom: 40px;
}

/* Hero Cards */
.heroCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Card */
.card {
  flex: 0 1 calc(33.333% - 20px);
  background: #222;
  border: 2px solid #e3f954;
  /* clip-path: polygon(0 0, 100% 0, 95% 100%, 0 95%); */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardContent {
  padding: 20px;
  text-align: center;
}

.card img {
  max-width: 200px; 
  height: 100px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1rem;
  color: #ddd;
}

.updatedText {
  font-size: 0.9rem;
  color: #bbb;
  margin-top: 10px;
}

/* Loading */
.loading {
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .heroCards {
    flex-direction: column;
    gap: 15px;
  }

  .card {
    flex: 0 1 100%;
  }

  .title {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }
}
