/* Advertisements.module.css */
.advertisementSection {
  text-align: center;
  padding: 50px 20px;
  background: #F5EFFF;
  border-radius: 15px;
  height: 600px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #A294F9;
  margin-bottom: 20px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  max-width: 80%;
  height: 600px;
  margin: auto;
}

.slider {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slide {
  width: 100%;
  /* transition: transform 0.5s ease-in-out; */
}

.adLink {
  display: block;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.adLink:hover {
  transform: scale(1.05);
}

.adImage {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 15px;
}

.arrow {
  background: #A294F9;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 10px;
  /* transition: all 0.3s ease; */
}

.arrow:hover {
  background: #CDC1FF;
  box-shadow: 0 5px 15px rgba(162, 148, 249, 0.3);
}

.dots {
  margin-top: 15px;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  display: inline-block;
  background: #E5D9F2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.activeDot {
  background: #A294F9;
  width: 14px;
  height: 14px;
}
