/* styles/globals.css */
:root {
    --primary-light: #f5efff;
    --primary-dark: #cdc1ff;
    --secondary-light: #e5d9f2;
    --secondary-dark: #a294f9;
    --font-family: "Poppins", sans-serif;
  }
  
  body {
    margin: 0;
    font-family: var(--font-family);
  }
  