.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #CDC1FF;
  color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 50px;
  cursor: pointer;
}

.navMenu {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.navMenu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navMenu ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.navMenu ul li a:hover {
  color: #A294F9;
}

.cta {
  display: flex;
  gap: 15px;
}

.callButton, .enquireButton {
  padding: 10px 18px;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  margin-right:10px;
  
}

.callButton {
  background: #F5EFFF;
  color: #000;
  border: 2px solid #A294F9;
  /* margin-right: 10px; */
  margin-left: 10px;
}

.callButton:hover {
  background: #A294F9;
  color: #fff;
}

.enquireButton {
  background: #A294F9;
  color: #fff;
  border: none;
}

.enquireButton:hover {
  background: #E5D9F2;
  color: #000;
}

/* Mobile Menu */
.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  .navMenu {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-right: 30px;
  }

  .mobileMenu {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background: #F5EFFF;
    padding: 20px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  }
}
