/* src/components/Header.css */
.header {
    background-color: #333;
    color: rgb(0, 0, 0);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  