/* src/components/HeroBanner.css */
.hero-banner {
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
}
.hero-banner h1 {
  font-size: 3rem;
  margin: 0;
}
.hero-banner p {
  font-size: 1.2rem;
  margin-top: 1rem;
}
