.emiCalculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 1200px; /* Increased width for desktop */
    margin: 30px auto 0; /* Added top margin */
}

.emiCalculator:hover {
    transform: scale(1.03);
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.form {
    display: flex;
    flex-direction: row; /* Horizontal layout on larger screens */
    justify-content: space-between; /* Space between inputs */
    margin-bottom: 20px;
    width: 100%;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.input {
    margin: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; /* Fixed width for inputs */
    font-size: 16px;
}

.button {
    padding: 12px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.button:hover {
    background-color: #45a049;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.result h3 {
    margin: 5px 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .form {
        flex-direction: column; /* Stack vertically on smaller screens */
    }

    .input {
        width: 90%; /* Full width on smaller screens */
    }
}
