.enquirePopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in;
}

.enquirePopupContent {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

.enquirePopupClose {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  color: #f4a261;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.enquirePopupLogo {
  width: 100%;
  max-width: 100px; /* Adjust as needed */
  margin-bottom: 15px;
}

.enquirePopup h2 {
  margin-top: 0;
  color: #333;
}

.enquirePopup input,
.enquirePopup textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.enquirePopup button {
  background-color: #f4a261;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.enquirePopup button:hover {
  background-color: #e76f51;
}

.enquirePopupSuccess,
.enquirePopupError {
  margin: 10px 0;
  font-size: 14px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.thankYouPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.thankYouContent {
  background: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.thankYouContent h2 {
  margin-bottom: 10px;
  color: floralwhite;
}

.thankYouContent p {
  margin-bottom: 20px;
  color: floralwhite;
}

.thankYouContent button {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.thankYouContent button:hover {
  background: #0056b3;
}
