/* HeroBanner.module.css */

/* Container for HeroBanner component */
.heroBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.heroContent {
  z-index: 10;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

@media (max-width: 768px) {
  .heroContent {
    z-index: 10;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
}


.heroText h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.heroText h3 {
  font-size: 1.5rem;
  margin: 5px 0;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}

.enquireNow {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #ff6b6b;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.enquireNow:hover {
  background-color: #ff3b3b;
}

/* Contact form styling */
.contactFormContainer {
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.contactForm h2 {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
}

.contactForm input:focus,
.contactForm textarea:focus {
  outline: none;
  border-color: #ff6b6b;
  box-shadow: 0 0 5px rgba(255, 107, 107, 0.5);
}

.contactForm button {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contactForm button:hover {
  background-color: #ff3b3b;
}

/* Thank You Popup */
.thankYouPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.thankYouContent {
  background-color: rgb(0, 0, 0);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.thankYouContent h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.thankYouContent p {
  font-size: 1rem;
  color: #555;
}

.thankYouContent button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.thankYouContent button:hover {
  background-color: #ff3b3b;
}
