/* Maharera information container */
.maharera_info_container {
  padding: 40px;
  background: linear-gradient(135deg, #f1f1f1 0%, #e0e0e0 100%);
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* Grid layout for cards */
.maharera_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px; /* Space between rows and columns */
}

/* Individual card styling */
.rera_info_section {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}

.rera_info_section:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

/* Left section for QR code */
.rera_info_left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.rera_info_left .react-qrcode {
  border-radius: 8px;
  overflow: hidden;
}

.no_qr {
  font-size: 0.1rem;
  color: #ff4c4c;
  text-align: center;
}

/* Right section for details */
.rera_info_right {
  text-align: left;
}

.rera_info_item {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 12px;
  text-align: left;
}

.rera_info_item strong {
  color: #333;
}

/* Divider styling */
.divider {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #e0e0e0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .rera_info_right {
    text-align: center;
  }

  .maharera_grid {
    grid-template-columns: 1fr;
  }
}

/* Centered heading */
.heading {
  font-size: 1.5rem; /* Adjust size as needed */
  font-weight: 700;
  color: #333;
  text-align: center; /* Center text horizontally */
  margin-bottom: 40px;
  line-height: 1.2; /* Improve spacing for multi-line headings */
}


/* Universal Header Style */
.luxuryHeading {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  color: #2e3b4e; /* Rich, elegant color */
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px; /* Slightly increased letter-spacing for sophistication */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Subtle shadow for a 3D effect */
  background: linear-gradient(90deg, #4b79a1, #283e51); /* Gradient for a unique feel */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Gradient applies to the text */
  position: relative;
}

/* Optional: Add an underline effect */
.luxuryHeading::after {
  content: '';
  display: block;
  width: 80px;
  height: 4px;
  background: #4b79a1; /* Matches the heading color scheme */
  margin: 10px auto 0;
  border-radius: 2px;
}
