/* Loader.css */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #f9f9f9; /* Light background color */
  }
  
  .spinner {
    border: 8px solid #ccc; /* Light gray border */
    border-top: 8px solid #4CAF50; /* Green color for the top */
    border-radius: 50%;
    width: 60px; /* Width of the spinner */
    height: 60px; /* Height of the spinner */
    animation: spin 1s linear infinite; /* Spin animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  